run = true
preference_level0 = 0.1, -0.1, 0
preference_level1 = -3, -2, -1
preference_level2 = -5, -4
damping = 0.9
windowRatio =  0.5
inputDir = ./data/wikipedia_hier
outputDir = ./Results_Output/wiki_haps_evalHDS_15_03_10cv
annotDir= ./data/moonstone/segmentations
inputExtensions = tok
corpusExtensions = tok,small
resultsFile = wiki_haps_evalHDS_6_03_10cv.txt
sparse = true
numTFIDFsegments = 30
smoothing = true
smoothingAlpha = 1.45
smoothingWindow = 2
inputDataType = 0
evalMetric = winDiff
segmLevel = 1
outputSTSSim = false
loadSTSSim = false
stsSerDir = ./STS_sims_simple_DS/ai_sts_simple
decayFactor = 0.5
decayWindowSize = 3
parThreshold = 1
numLevels = 3
useHier = true