run = true
preference = -2
preference_level0 = 0.5, 0.4, 0.2, 0.3, 0.1
preference_level1 =  -0.4, -0.3, 0, 0.1, 0
preference_level2 = -2, -1, -1.5, -0.5
damping = 0.9
windowRatio =  0.9
inputDir = ./data/moonstone_hierarchical/text
outputDir = ./Results/hier_moonstone_wd
annotDir= ./data/moonstone_hierarchical/annots
inputExtensions = txt
corpusExtensions = txt,df
resultsFile = moonstone_hier_wd_4_fold_5_03_2014.txt
sparse = true
numTFIDFsegments = 30
smoothing = true
smoothingAlpha = 1.45
smoothingWindow = 2
inputDataType = 4
evalMetric = winDiff
segmLevel = 2
outputSTSSim = false
loadSTSSim = true
stsSerDir = ./STS_sims_simple_DS/mooonstone_sts_simple
decayFactor = 0.5
decayWindowSize = 3
parThreshold = 1
numLevels = 3
useHier = true